html {
  height: 100%;
  margin: 0;
}

body {
  height: 3000px;
  margin: 0;
}

.navBar {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 67px;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 0px 8px rgb(180 180 180);
}

.navLink {
  float: left;
  position:relative;
  padding: 22px;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
  color: rgb(0, 0, 168);
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.35s;
  /* min-height: 67px; */
}

.dropDown {
  /* height: 67px;
  padding: 22px; */
  float: left;
  max-width: 212px;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
  color: rgb(0, 0, 168);
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.35s;
  border: none;
  outline: none;
  background-color: white;
}

.dropButton {
  height: 67px;
  padding: 22px;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
  color: rgb(0, 0, 168);
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.35s;
  border: none;
  outline: none;
  background-color: white;
  max-width: 212px;
}

.navLink:hover, .dropDown:hover .dropButton {
  color: white;
  background-color: darkturquoise;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: rgb(0, 161, 182);
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 210px;
  overflow: hidden;
  
}

#dropDisc {
  width: 204px;
}

.dropContent a{
  float: left;
  color: white;
  padding: 12px 22px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 100;
}

.dropContent a:hover {
  background-color: rgb(0, 140, 165);
}

.dropDown:hover .dropContent{
  display:block;
}

.containerTop {
  width: 100%;
  position: relative;
  top: 60px;
  background-image: url(../images/confoundingTools.png);
  /* background-blend-mode: multiply; */
  min-height: 520px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: inset 1px -6px 20px -12px rgb(128, 128, 145);
  transition: box-shadow .3s ease-in-out;
}

.containerTop:hover {
  box-shadow: inset 0px 550px 0 0 rgb(0, 0, 168, 0.5);
}

.title {
  position: absolute;
  top: 50%;
  left: 15%;
  font-family: "proxima-nova", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
  text-shadow: 0px 2px 10px rgb(60 60 60);
  /* transition: box-shadow .3s ease-in-out; */
}

.subheading {
  position: absolute;
  top: 72%;
  left: 15%;
  width: 21%;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 164px;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 4px;
  color: white;
  background-color: darkturquoise;
}

.containerBody {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  color: rgb(0, 0, 168);
  font-family: "proxima-nova", sans-serif;
  line-height: 40px;
}

p {
font-family: "proxima-nova", sans-serif;
font-size: 18px;
line-height: 30px;
margin-top:0;
}

.finalContainer {
  height: 825px;
  margin-bottom: 10%;
}

#finalImg {
  float: left;
  width: 550px;
  padding-right: 50px;
}

span#finalSide {
  display: inline-block;
  height: 825px;

}

#process {
  position: relative;
  margin-bottom: -15px;
  /* top: 90%; */
  /* left: 75px; */
  width: 32%;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 140px;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 4px;
  color: white;
  /* background-color: darkturquoise; */
  background-color: rgb(0, 0, 168);
  z-index: 10;
}

.slides {
  float: left;
  display: block;
  padding:75px;
  /* padding-top: 50px; */
  height: 650px;
  box-shadow: 6px 2px 20px -6px rgb(128, 128, 145);
  /* background-color: rgb(199, 199, 199);
  color: white; */
}

.slideImg {
  float: left;
  padding-right: 50px;
  width: 410px;
}

span.slideText {
  display: inline-block;
  margin-top: none;

}

.buttons {
  position: absolute;
  /* display: inline-block; */
  margin-top: 695px;
  margin-left: 60%;
  margin-right: 75px;
  z-index: 2000;
}

.buttonLeft {
  position:relative;
  border: none;
  color: white;
  background-color: rgb(0, 0, 168);
  height: 35px;
  width: 45px;
}

.buttonRight {
  position:relative;
  border: none;
  color: white;
  background-color: rgb(0, 0, 168);
  height: 35px;
  width: 45px;
}

.buttonLeft:hover {
  background-color: darkturquoise;
}

.buttonRight:hover {
  background-color: darkturquoise;
}